

<h3>
  <%= @issue.title %>
  <%= link_to " (edit)", edit_issue_path(@issue) %>
  <% if Favorite.find_by(user: current_user, issue: @issue) %>
      <%= link_to "&hearts;".html_safe, remove_favorite_issue_path(@issue), method: :delete, class: "fav" %>
  <% else %>
      <%= link_to "&hearts;".html_safe, add_favorite_issue_path(@issue), method: :post, class: "no-fav" %>
  <% end %>
</h3>

<img src="<%= @issue.img_url %>"/>
<p><%= @issue.description %></p>

<div class = "headlines">
<div class = "left">
  <h5>From the Left...</h5>
  <% @issue.headlines.where(affiliation: 'left').each do |headline| %>
    <% result = parse_title_and_img(headline.url)%>
    <p><%= link_to result[:title], headline.url %></p>
    <img src= "<%=result[:image] %>" />
  <% end %>
  <h6><%= link_to "Add Headline +", new_issue_headline_path(@issue) %></h6>
</div>
<div class = "right">
  <h5>From the Right...</h5>
  <% @issue.headlines.where(affiliation: 'right').each do |headline| %>
    <% result = parse_title_and_img(headline.url)%>
    <p><%= link_to result[:title], headline.url %></p>
    <img src= "<%=result[:image] %>" />
  <% end %>
  <h6><%= link_to "Add Headline +", new_issue_headline_path(@issue) %></h6>
</div>
</div>
