<h2>Add headline for: <%= @issue.title %></h2>

<%= form_for [@issue, @headline] do |f| %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.radio_button :affiliation, 'left' %>
  <%= f.label :affiliation, 'left', :value => 'left' %>

  <%= f.radio_button :affiliation, 'right' %>
  <%= f.label :affiliation, 'right', :value => 'right' %>

  <%= f.submit %>
<% end %>
